#{extends 'template.html' /}
#{set title:'Home' /}

%{
doc = mentions.asXml()
}%

<h1>Useless Twitter Mashup</h1>

Status: <textarea id="statusupdate" cols="72" ></textarea>
<input id="sendstatus" type="button" value="Publish" onclick="post();"  />
        Hello ${user}
<h2>Mentions</h2>

<ul>
#{list doc.status}
<li>
    ${_.text.text()}
</li>
#{/list}
</ul>

<pre>
    $ { mentions}

</pre>

        <hr/>
<pre>
    ${userdata}
</pre>

<script>
    post = function(){
        $.post("@{Twitter.setStatus()}",
        {
            status: $("#statusupdate").val()
        },
            function(result){
                alert("Status published");
            },
            "json");

    };

    $(document).ready(function(){
    $("#sendstatus").keypress(function(e){
        if (e.keyCode == 13) {
            post();
        }
    });
});
</script>