<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link href="@{'/public/stylesheets/jquery.tweet.css'}" media="all" rel="stylesheet" type="text/css"/>
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

    <script src="@{'/public/javascripts/head.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        head.js("@{'/public/javascripts/jquery-1.4.2.min.js'}", "@{'/public/javascripts/jquery.tweet.js'}");

        head.ready(function() {
            $(".tweet").tweet({
                join_text: "auto",
                avatar_size: 32,
                count: 3,
                query: "#OpenTCK OR @openTCK",
                auto_join_text_default: "",
//                auto_join_text_ed: "we",
//                auto_join_text_ing: "we were",
//                auto_join_text_reply: "we replied to",
//                auto_join_text_url: "we were checking out",
                loading_text: "loading tweets for #OpenTCK..."
            });

            $.getJSON(
                    "@{Github.repositories}",
                     function(data) {
                         var text = "";
                         $.each(data["repositories"],function(index, obj){
                             text += ("<li><p><a href='"+ obj["url"] +"/' target='_blank'>"+obj["name"] + "</a><br/>"+obj["description"]+"</p></li>");
                         });
                         $("#public_repositories ul").html(text);
                         text = null;
                     }
                    );
        });
    </script>
    #{get 'moreScripts' /}
</head>
<body>
#{doLayout /}
<script language="text/javascript" charset="utf-8">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20260586-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>