#{extends 'main.html' /}
#{set 'moreStyles'}
        <link rel="stylesheet" href="@{'/public/stylesheets/manual.css'}" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="@{'/public/stylesheets/wiki.css'}" type="text/css" media="screen" charset="utf-8">
#{/set}


<div class="wrapper">

	<div id="docSidebar">
		<div id="logo">
			<img src="@{'/public/images/logo.png'}">
		</div>

#{ifnot user}
    <a href="@{TwitterAuth.authenticate()}">Login with twitter</a>
#{/ifnot}
#{else}
    Hello <a href="http://www.twitter.com/${user}" target="_blank">${user}</a><br/>
    <a href="@{Secure.logout()}">Logout</a>

#{/else}

        <h2>Join us</h2>
        <ul>
            <li><a href="https://twitter.com/OpenTCK">Twitter</a></li>
            <li><a href="http://groups.google.com/group/opentck">Mailing-list</a></li>
            <li><a href="https://github.com/opentck">GitHub</a></li>
        </ul>

        <b>Mailinglist</b>
        <form action="http://groups.google.com/group/opentck/boxsubscribe" target="_blank">
            <input type="text" name="email" value="user@host">
            <input type="submit" name="sub" value="Subscribe">
        </form>


        <!--<h2>Contents</h2>-->
        <!--<div id="toc"></div>-->

		<!--#{if modules}-->
            <!--<h2>Installed modules</h2>-->
            <!--<ul>-->
                <!--#{list modules, as:'module'}-->
                    <!--<li>-->
                        <!--<a href="modules/${module}/home">${module}</a>-->
                        <!--#{if apis.contains(module)}-->
                            <!--<a href="/@api/-${module}/index.html">Browse API</a>-->
                        <!--#{/if}-->
                    <!--</li>-->
                <!--#{/list}-->
            <!--</ul>-->
        <!--#{/if}-->

        <h2><a href="http://twitter.com/#search?q=%23OpenTCK">Twitter stream</a></h2>
        <div class="tweet"></div>

    </div>

	<div id="pageContent">

		<div class="wikistyle">
            #{doLayout /}
        </div>
    </div>

		</div>

	</div>

</div>





